[submodule "CoreSemi/jcore-cpu"]
	path = CoreSemi/jcore-cpu
	url = https://github.com/spacechain/jcore-cpu.git
[submodule "CoreSemi/bootrom"]
	path = CoreSemi/bootrom
	url = https://github.com/spacechain/bootrom.git
[submodule "CoreSemi/gnss-baseband"]
	path = CoreSemi/gnss-baseband
	url = https://github.com/spacechain/gnss-baseband.git
[submodule "CoreSemi/jcore-soc"]
	path = CoreSemi/jcore-soc
	url = https://github.com/spacechain/jcore-soc.git
[submodule "CoreSemi/jcore-jx"]
	path = CoreSemi/jcore-jx
	url = https://github.com/spacechain/jcore-jx.git
